<div class="row">
  <div class="col-sm-9 col-sm-offset-3">
    <h3 class='first'>Log in</h3>
  </div>
</div>
<br/>
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password, autocomplete: "off" %>

  <%= f.form_group do %>
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
    <% end -%>
  <% end %>

  <%= f.form_group do %>
    <%= f.primary "Log in" %>
  <% end %>
<% end %>
<hr/>
<%= render "devise/shared/links" %>
