!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "../../favicon.ico", :rel => "icon"}
    %title Simple App for Container Solutions

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            %img(src="/assets/logo.png" width='35px' style='display: inline; position: relative; top: -1px; left: -5px')
            %span(style="color: #289EE7")Simple App
            &nbsp;
            %small <code style="background-color: #D94562; color: #fff; border-radius: 0px">#{Socket.gethostname}</code>
            %small v0.2
        #navbar.collapse.navbar-collapse.pull-right
          %ul.nav.navbar-nav
            - if current_user
              %li
                %a{:href => "#"} Welcome #{current_user.email}
              %li
                = link_to(destroy_user_session_path, :method => :delete) do
                  Logout

            - else
              %li
                %a{:href => "/users/sign_in"} You are not logged in

    .container
      .row
        .col-md-4
          %h3.first This is a simple app
          %p.lead You can create an account and log in and thats just about it.
          %p.lead Next to the logo you can see the ID of the backend that is serving this page
          %p.lead Enjoy!
          %hr
          %p Data stored here is not persisted for too long, so there could be a
          chance that you have to recreate your account.


        .col-md-8

          .well.align-against-h3
            = yield
